/* CSS styles */
body {
  font-family: Arial, sans-serif;
  background-color: #FDF5DF;
  margin: 4%;
  padding: 0;
  color: #15afba;
  
  overflow-x: hidden; /* Prevent horizontal overflow */
}


/*bubble background*/
.wrapper {
  height: 100vh; /* Fills the viewport height */
  width: 100%; /* Fills the viewport width */
  position: absolute;
}
  .wrapper div {
    height: 60px;
    width: 60px;
    border: 2px solid #ff6eada3;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
  }
  div .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: #ff6ead89;
    position: absolute;
    top: 20%;
    right: 20%;
  }
  .wrapper div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
  }
  .wrapper div:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  .wrapper div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
      transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
  }
  
/*curos style*/
.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }

#content {
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: 'Protest Strike', sans-serif;
    font-size: 5vmax;
    display: block;
    color: #1798a1;
}
h2{
  font-family: 'Protest Strike', sans-serif;
    font-size: 3vmax;
    display: block;
    color: #f856cc;
}
p {
    font-family: 'Protest Riot', sans-serif;
    font-size: 3vmax;
    color: #4ed5df;
}
.wrap {
    display: inline-block;
    margin-right: 20px;
}

.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-4px);
}

.button:hover::before, .button:focus::before {
    opacity: 1;
    width: calc(300px - 20px);
    height: calc(60px - 20px);
    border-width: 3px;
    box-shadow: 0 0 40px rgba(0,255,203,.64);
}

.button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button:hover::after, .button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 50px;
        height: 50px;
        opacity: 0;
    }
}

.scroll-text {
    display: none;
}
.memories {
    width: 95%;
    align-items: center;
    background-color: #dbd3bdb2;
    padding:2%;
    margin: 4%;
    align-content: center;
    align-self: auto;
    text-align: center;
    justify-content: center;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -25px;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: auto;
    height: 250px;
    object-fit: cover;
    justify-content: center;
}

.memories .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}


/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
.memories{
  margin: 2%;
}
.slider-wrapper .slide-button {
    display: none !important;
}

.slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
}

.slider-wrapper .image-list .image-item {
    width: auto;
    height: 225px;
}

.slider-scrollbar .scrollbar-thumb {
    width: 20%;
}
.scroll-text {
    display: contents;
    opacity: 100%;
    font-size: 2vmax;
    color: #F92C85;
}
.circle {
    display: none;
}
body{
  
  overflow-x: hidden
}
}


/* Media Query for mobile devices */
@media (max-width: 768px) {
  .memories{
    margin: 1%;
  }
    .wrap {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .button {
        min-width: 200px;
        min-height: 50px;
        font-size: 18px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .button::before {
        min-width: calc(200px + 12px);
        min-height: calc(50px + 12px);
    }
    .button::after {
        width: 20px;
        height: 20px;
        border-width: 3px;
    }
}
